@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&family=Poppins:wght@400;500;600&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
   
}


.carousel-item img{
  height: 600px;   
  width: 100%;      
  object-fit: cover;
  object-position: center 20%;
}

.info-carrusel
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

/*Medias Query*/
@media (max-width: 576px) {
  .img-carrusel{
    height: 400px;         
    object-fit: cover;       
    object-position: center; 
  }
}


.imagen-container {
    position: relative;
    display: inline-block; 
}

.imagen-container img {
    transition: 0.3s ease;
}

.imagen-container img:hover {
    transform: scale(1.03);
}

.btn-comprar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-volver{
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-volver:hover {
    background-color: black;
    transform: scale(1.05);
}

.btn-comprar:hover {
    background-color: #ff5722;
    box-shadow: 0 0 15px orangered;
}

.info-producto {
    background-color: orangered;
    color: white;
    min-height: 400px;
}

.titulo-producto {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.plataforma {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.seccion-titulo {
    font-family: 'Orbitron', sans-serif;
    border-bottom: 2px solid orangered;
    display: inline-block;
    padding-bottom: 5px;
}

.comentario-card {
    background-color: #1a1a1a;
    border: none;
    color: white;
    border-radius: 10px;
}

.navbar-color{
    background-color: orangered;
}

.nav-links-color{
    color: white;
}

.nav-links-color:hover{
    color: black;
}

.btn-buscar {
    transition: 0.3s ease;
}

.btn-buscar:hover {
    box-shadow: 0 0 10px #ffae00,
                0 0 20px #ffae00;
    transform: scale(1.05);
    color: orangered;
}

.login-img{
    object-fit: cover;

}

.btn-ingresar-login{
    background-color: orangered;
}

.btn-ingresar-login:hover{
    background-color: #ffae00;
    color: black;
}

.form-control:focus {
  border-color: orangered; 
  box-shadow: 0 0 0 0.25rem rgba(255, 122, 0, 0.25);
}

