body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
} .footer {
      background-color:orangered;
      color: white;
      padding: 60px 0 20px;
    }

    .footer h4 {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .footer a {
      color: white;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    .footer .social-icons i {
      font-size: 28px;
      margin-right: 15px;
      cursor: pointer;
      transition: 0.3s;
    }

    .footer .social-icons i:hover {
      transform: scale(1.2);
    }

    .footer-divider {
      border-left: 1px solid rgba(255,255,255,0.4);
    }

    .footer-bottom {
      border-top: 1px solid rgba(255,255,255,0.3);
      margin-top: 40px;
      padding-top: 15px;
      text-align: center;
      font-size: 14px;
    }

    /* MEDIA QUERIES */
    @media (max-width: 768px) {

      .footer {
        text-align: center;
      }

      .footer-divider {
        border-left: none;
        border-top: 1px solid rgba(255,255,255,0.3);
        margin: 30px 0;
      }

      .social-icons i {
        margin: 10px;
      }
    }


Redes {a {
    text-decoration: none; /* Quita el subrayado */
    color: aliceblue;         /* Cambia el color azul a  */
}}
a{
    text-decoration: none;
    color: white;
   }