body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}

Footer {background-color:orangered}

Redes {a {
    text-decoration: none; /* Quita el subrayado */
    color: aliceblue;         /* Cambia el color azul a  */
}}
