body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}

.navbar-color{
    background-color: orangered;
}

.nav-links-color{
    color: white;
}

.nav-links-color:hover{
    color: black;
}