@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&family=Poppins:wght@400;500;600&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}

.imagen-container {
    position: relative;
    display: inline-block; 
}

.imagen-container img {
    transition: 0.3s ease;
}

.imagen-container img:hover {
    transform: scale(1.03);
}

.btn-comprar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-comprar:hover {
    background-color: #ff5722;
    box-shadow: 0 0 15px orangered;
}

.info-producto {
    background-color: orangered;
    color: white;
    min-height: 400px;
}

.titulo-producto {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.plataforma {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.seccion-titulo {
    font-family: 'Orbitron', sans-serif;
    border-bottom: 2px solid orangered;
    display: inline-block;
    padding-bottom: 5px;
}